* {
    font-family: "Merriweather", serif;
}

.banner {
    background-image: url('/resources/Banner\ Image.png');
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: auto;
    position: relative;
}

.banner-text {
    position: absolute;
    text-align: center;
    margin-top: 177px;
    width: 100%;
    color: #FFF;
}

.banner-newYeartext {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 400;
}

.banner-partyText {
    margin-top: 0px;
    font-size: 72px;
    font-weight: 900;
}

.offer-section {
    text-align: center;
    margin-top: 120px;
}

.offer-section h3 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    margin-bottom: 0px;

}

.offer-section p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 0px;

}

.offer-section h4 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 48px;
}

.off-section-image {
    width: 800px;
    height: 500px;
}

.section-midnightParty-banner {
    background-image: url('/resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    position: relative;
    margin-top: 120px;
}

.section-midnightParty {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    margin: 70px 138px 67px 126px;
    gap: 40px;
}

.section-midnightParty h2 {
    color: #FFF;
    font-size: 64px;
    letter-spacing: 7.04px;
    margin-bottom: 0px;
}

.section-midnightParty p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.section-midnightParty a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    text-decoration: none;
    margin-top: 0px;
}

.schedule-section {
    background-color: bisque;
    text-align: center;
    width: 1320px;
    height: 482px;
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    border-radius: 8px;

}

.details {
    color: #F00;
}

.btn-join {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
    color: #FFF;
    margin-top: 48px;
}

.best-offer-section {
    width: 1320px;
    height: 463px;
    display: flex;
    gap: 70px;
    margin: auto;
    margin-top: 120px;
}

.best-offer-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    margin-bottom: 0px;

}

.best-offer-text h2 {
    color: #070211;
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 22px;
}

.best-offer-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-top: 0px;
}

.best-offer-image {
    width: 370px;
    height: 370px;
    border-radius: 370px;
    border: 15px solid #F00;
    padding: 49px;
}

.best-offer-anothertext h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    margin-bottom: 16px;
}

.best-offer-anothertext p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 43px;
}

.best-offer-anothertext img {
    width: 140px;
    height: 140px;
    margin-top: 0px;

}

.best-gift-section {
    width: 1320px;
    height: 1163px;
    margin: auto;
    margin-top: 120px;

}

.best-gift-text h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    margin-bottom: 0px;
}

.best-gift-text h2 {
    color: #070211;
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 20px;
}

.best-gift-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-top: 0px;
}

.best-gift-image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.best-gift-image-section :hover {
    box-shadow: 10px 10px 10px gray;
}

.newsletter-section {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin: auto;
    margin-top: 120px;
}

.newsletter-text h1 {
    color: #070211;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 0px;

}

.newsletter-text P {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-top: 20px;

}

.newsletter-img {
    width: 150px;
    height: 150px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.newsletter-field {
    width: 648px;
    height: 72px;
    margin: 48px 330px 80px 330px;
    display: flex;
    border-radius: 50px;
    background: #FFF;

}

.newsletter-field input {
    flex-grow: 1;
    padding-left: 30px;
    border-radius: 50px;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;

}

.btn-newsletter {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;

}

.footer-style {
    background: #070211;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    padding: 120px 140px 0 140px;

}

hr{
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-img{
    text-align: center;
    margin: 0 auto;
}

.footer-img img{
    margin-right: 24px;
}

.footer-anothertext{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    padding: 0px 140px 120px 140px;

}